.Times {
  width: 100%;
  max-width: 100%;
  margin-top: -4px;
  padding: 0;
  border-radius: 0;
}

.bus_photo {
  width: 100%;
  height: 55vh;
  object-fit: cover;

}

.image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 10vhpx;
  z-index: 1;
  margin-bottom: 30px;
  filter: blur(8px);
  /* transform: scale(1.1); */
}


#horario {
  position: absolute;
  top: -50px; /* Ajuste para mover o título acima da imagem */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta a centralização */
  font-size: 6em;
  color: #ffffff;
  z-index: 2; /* Garante que o título fique acima da imagem */
}

.error-message {
  color: #ff4d4f;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -40px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #252525;
  color: white;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  color: #555;
}

p {
  text-align: center;
  font-style: italic;
  color: #888;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f0f0f0;
}

.nome-linha{
  margin-top: 7vh;
  margin-bottom: -5%;
  text-align: center;
}

.circle{
  margin-bottom: 2%;
  margin-top: -10px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-content.hover-effect {
  transform: scale(1.05); /* Amplia levemente */
  opacity: 1;
  background-color: #f0f8ff; /* Altera cor de fundo */
}