/* Sections */
.Section1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0; /* Evite margin-top/margin-left redundantes */
}

/* Title Section */
.header {
  position: relative; /* Ajuste para evitar problemas de layout */
  text-align: center;
}

.frase{
  margin-top: 100px;
}

#text-1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -50%;
}

#text-2 {
  font-size: 2rem;
  font-weight: lighter;
  margin-top: -10px;
  margin-left: 40px;
}

/* General Container */
.container-geral {
  display: flex;
  justify-content: center;
  gap: 30px; /* Valor consistente */
  flex-wrap: wrap;
  margin-top: 3%;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgba(77, 77, 77, 0.432);
  color: white;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.125rem;
  transition: all 300ms ease;
}

.container:hover {
  width: 250px;
  height: 300px;
  font-size: 1.25rem;
}

/* Additional Section Example */

