/* Sections */
.Section1 {
  padding-top: 10vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
}

/* Title Section */
.header {
  position: relative;
  text-align: center;
}

.frase {
  top: -10px;
}

#text-1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10%;
}

#text-2 {
  font-size: 2rem;
  font-weight: lighter;
  margin-top: -10px;
  margin-left: 40px;
}

/* General Container */
.container-geral {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 3%;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgba(77, 77, 77, 0.432);
  color: white;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.125rem;
  transition: all 300ms ease;
}

.container-geral .container:nth-child(1) {
  background-color: blue;
}

.container-geral .container:nth-child(2) {
  background-color: rgb(128, 148, 40);
}

.container-geral .container:nth-child(3) {
  background-color: rgb(107, 28, 122);
}

.container-geral .container:nth-child(4) {
  background-color: rgb(0, 255, 213);
}

.container:hover {
  cursor: pointer;
  transform: translateY(-20px);
  font-size: 1.25rem;
}


/* Quem Somos */
.Infos {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.411);
  max-width: 60vw;
  margin: 60px auto;
}

.titulo {
  text-align: center;
}

.txt1 {
  font-size: 25px;
  letter-spacing: -1px;
}

/* Ajuste para centralizar o conteúdo e limitar a largura em telas maiores */
.container-paragrafo {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  letter-spacing: -1px;
  line-height: 1.6;
  text-align: justify;
}

.flextext {
  width: 100%;
}

hr {
  color: transparent;
  height: 10px;
  border: none;
}

li {
  list-style: disc;
  margin: 3px;
  margin-top: 15px;
  margin-left: 20px;
}

.footer{
  background-color: rgb(255, 0, 0);
  box-sizing: 100px;
}

.fundo{
  background-color: #252525;
  color: white;
}

.textos1{
  text-align: center;
}

#footer-background{
  background-color: #252525;
}

#footer-text{

}

.footer-title{
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

/* Contêiner para a barra de pesquisa */
.search-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

/* Ícone da lupa */
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  pointer-events: none;
}

/* Campo de entrada com espaçamento para o ícone */
.search-input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
