/* Sections */
.Section1 {
  padding-top: 10vh;
  height: 100vh;
  display: grid;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
}

/* Title Section */
.header {
  position: relative;
  text-align: center;
}

.frase {
  top: -10px;
}

#text-1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10%;
}

#text-2 {
  font-size: 2rem;
  font-weight: lighter;
  margin-top: -10px;
  margin-left: 40px;
}

/* General Container */
.container-geral {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 3%;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgba(77, 77, 77, 0.432);
  color: white;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.125rem;
  transition: all 300ms ease;
}

.container-geral .container:nth-child(1) {
  background-color: blue;
}

.container-geral .container:nth-child(2) {
  background-color: rgb(128, 148, 40);
}

.container-geral .container:nth-child(3) {
  background-color: rgb(107, 28, 122);
}

.container-geral .container:nth-child(4) {
  background-color: rgb(0, 255, 213);
}

.container:hover {
  cursor: pointer;
  transform: translateY(-20px);
  font-size: 1.25rem;
}

/* Quem Somos */
.Infos {
  margin-top: 9%;
}

.titulo {
  text-align: center;
  /* margin-top: -30%; */
}

.txt1 {
  font-size: 25px;
  letter-spacing: -1px;
  /* text-align: center; */
}


.container-paragrafo {
  height: auto;
  padding: 25px;
  letter-spacing: -1px;
}

.flextext {
  width: 70vw;
}

hr {
  color: transparent;
  height: 10px;
  border: none;
}

li {
  list-style: disc;
  margin: 3px;
  margin-top: 15px;
  margin-left: 20px;
}
