/* NavBar */
.container-navigation {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}

.container-link {
    display: start;
    gap: 10px;
}

.navitems{
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.navitems-2{
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    justify-content: right;    
}

/* Botão de Perfil */
.profile-button{
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  .profile-button:hover{
    transform: translateY(-2px) translateX(-2px);
    box-shadow: 1px 4px 0 0;
    color: purple;
  }

  