.title-notifica {
    margin-top: 10vh;
    text-align: center;
}

.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: 18rem;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

/* Contêiner que vai segurar os cards */
.grids {
    display: flex;            /* Ativa o Flexbox */
    flex-wrap: wrap;          /* Permite que os cards que não cabem na linha se movam para a linha seguinte */
    gap: 15px;                /* Reduz o espaço entre os cards */
    justify-content: space-evenly;  /* Alinha os cards igualmente */
}

/* Estilo para cada card */
.card {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px; /* Largura do card */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
  }
  
  .circle {
    padding: 0 4px;
  }
  
  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .green {
    background-color: #00ca4e;
  }